{% extends 'listings/headband.html' %}
{#{% load bootstrap5 %}#}
{% block content %}
    <div class="News" style="background-image: url({{ new.backImage.url }})">
        <div class="NewsText">
            <h2>Bienvenue sur Les Folies de Laia !</h2>

            <p>Nous sommes actuellement en train de créer un espace unique où la tradition artisanale rencontre
                l'innovation
                moderne.</p>
            <p><b>Lancement Officiel</b> : Notre site sera bientôt prêt à vous accueillir dans notre univers créatif.
                Soyez prêts
                pour le lancement officiel où vous pourrez découvrir nos créations et peut-être trouver la pièce
                parfaite
                qui illuminera votre espace.</p>

            <p><b>Suivez-nous</b> : En attendant, suivez-nous sur les réseaux sociaux pour des mises à jour en temps
                réel, des
                aperçus exclusifs et une dose quotidienne d'inspiration artistique. #LesFoliesdeLaia</p>

            <p>Restez connectés, l'aventure commence bientôt !</p>
        </div>
    </div>
{% endblock %}