{% extends 'listings/headband.html' %}
{#{% load bootstrap5 %}#}
{% block content %}
    <div class="News" style="background-image: url({{ new.backImage.url }})">
        <div class="NewsText">
            <h2>Les Folies de Laia</h2>
            <p>Il était une fois, dans un petit atelier créatif niché au cœur de la ville, trois amies passionnées par
                l'art, la tradition et les nouvelles technologies. Elles étaient un trio inséparable, chacune apportant
                sa propre touche magique à leur univers créatif. C'est ainsi qu'est née "Les Folies de Laia".</p>

            <p><b>L'Étincelle Créative</b></p>

            <p>Un jour, alors qu'elles partageaient leurs rêves artistiques autour d'une tasse de café, l'idée a jailli.
                Pourquoi ne pas fusionner leur amour pour l'artisanat traditionnel avec les technologies modernes ?
                C'est ainsi que naquit l'essence même de "Les Folies de Laia".</p>

            <p><b>Tradition & Technologie en Harmonie</b></p>

            <p>Les trois amies ont décidé de créer des pièces uniques en utilisant des techniques artisanales
                traditionnelles, tout en intégrant des technologies avant-gardistes. L'impression 3D donnait vie à des
                formes autrefois inimaginables, la gravure laser ajoutait des détails délicats et l'intelligence
                artificielle apportait une dimension nouvelle à la créativité.</p>

            <p><b>La Magie de Laia</b></p>

            <p>Laia, une déesse de l'artisanat dans la mythologie, était le nom parfait pour leur marque. "Les Folies de
                Laia" représente l'union magique entre la tradition artisanale et les avancées technologiques. Chaque
                produit raconte une histoire unique, imprégnée d'amour, de créativité et de l'héritage artistique du
                passé.</p>

            <p><b>Créations Uniques pour Des Moments Uniques</b></p>

            <p>Que ce soit des bougies personnalisées avec des motifs 3D, des figurines gravées avec précision ou des
                décorations infusées d'intelligence artificielle, chaque pièce de "Les Folies de Laia" est conçue pour
                évoquer des émotions et raconter une histoire. Chaque client devient ainsi le gardien d'une œuvre d'art
                unique, créée avec soin et passion.</p>

            <p><b>L'Aventure Commence</b></p>

            <p>Ainsi démarre l'aventure des trois amies et de leur marque, "Les Folies de Laia". Elles invitent le monde
                à découvrir l'harmonie parfaite entre la tradition et la modernité, à explorer l'art d'une manière
                nouvelle et à célébrer la créativité qui transcende le temps.</p>

            <p><b>Créer des Souvenirs, Inspirer des Rêves</b></p>

            <p>"Les Folies de Laia" n'est pas seulement une marque d'artisanat, mais une invitation à créer des
                souvenirs, à inspirer des rêves et à redéfinir la manière dont l'art peut enrichir nos vies. Chaque
                pièce porte l'essence de l'amitié, de la passion et de l'innovation, tissant ainsi un lien intemporel entre le
                créateur, l'œuvre et celui qui l'apprécie.</p>
        </div>
    </div>
{% endblock %}