{% extends 'listings/base.html' %}
{% block footer %}
    {% load static %}

    <div class="Separator"></div>
    <footer>
        <div class="chibi-bubble">
            <img src="{% static 'images/Chibi.png' %}" alt="Chibi Les Folies de Laia" class="chibi-image">
            <div class="speech-bubble">
                <p>Suivez-nous sur les réseaux sociaux !</p>
            </div>
        </div>
        <div class="social-icons">
            <!-- Remplacez les liens des réseaux sociaux et les chemins des images selon votre besoin -->
            <a href="https://www.facebook.com/profile.php?id=61554673531718&locale=fr_FR" target="_blank"><img src="{% static 'images/Facebook_icon.png' %}" alt="Facebook"></a>
            <a href="https://www.tiktok.com/@les.folies.de.laia" target="_blank"><img src="{% static 'images/Tiktok_icon.png' %}" alt="TikTok"></a>
            <a href="https://www.instagram.com/lesfoliesdelaia" target="_blank"><img src="{% static 'images/Instagram_icon.png' %}" alt="Instagram"></a>
{#            <a href="#" target="_blank"><img src="{% static 'images/Youtube_icon.png' %}" alt="Youtube"></a>#}
            <!-- Ajoutez d'autres réseaux sociaux si nécessaire -->
            <p class="rights-reserved">&copy; {% now "Y" %} Les Folies de Laia. Tous droits réservés.</p>
        </div>
    </footer>

{% endblock %}