* {
    background-color: #F8F2DD;
}

.navbar {
    --bs-navbar-hover-color: #ACD6DC;
}

.nav-item {
    font-family: 'Lavishly Yours';
    font-size: 30px;
}

.nav-link {
    color: #19426B;
    text-decoration: underline;
}

.navbar-collapse {
    text-align: center;
    justify-content: center;
}

h1, h2 {
    font-family: 'Lavishly Yours';
    text-align: center;
}

h1 {
    font-size: 100px;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: transparent;
}

h2 {
    font-size: 30px;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

p, ul, li, td {
    font-family: Aubrey;
    text-align: justify;
}

a {
    height: 50px;
}

.TitleHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.Separator {
    background: #19426B;
    margin: 0;
    height: 10px;
}

.News {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.NewsText {
    margin: 0;
    margin-left: 150px;
    background: rgba(248, 242, 221, 70%);
    border-radius: 30px;
}

.News img {
    width: 250px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.News h2 {
    height: 50px;
    background: None;
    margin: 20px;
}

.News p {
    margin: 50px;
    background: None;
}

.logo {
    width: 100px;
    height: 100px;
}
